#makitatext{
   text-align: center;
}
#paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
body{
    background-color: rgb(91, 149, 219);
}
div{


    padding: 10px;
    margin: 10px;
    }
    
    
    .navbar a {
        float: left;
        display: block;
        color: rgb(255, 255, 255);
        text-align:center;
        padding: 14px 116px;
        text-decoration: none;
        }
        
        .navbar a:hover {
        background-color: rgb(0, 0, 0);
        
       
        
        
        
        }
    
        .navbar{
    
    
            overflow: hidden;
            background-color:blue;
            text-align: center;
        
        }
        #foto{
            width: 400px;
            height: 400px;
            position: relative;
            left: 1900px;
            bottom: 100px;
        }
    